---
import Icon from './Icon.astro'
---

<header class="flex justify-between mb-4">
    <a href="/">
        <div class="flex space-x-4 items-center">
            <Icon icon="pheonix" />
            <h1 class="text-3xl">PHX Weather</h1>
        </div>
    </a>
    <div></div>
</header>

<script>

</script>