---
import { Icon } from 'astro-icon'
---

<header class="flex justify-between mb-4">
    <a href="/">
        <div class="flex space-x-4 items-center">
            <Icon name="simple-icons:thunderbird" />
            <h1 class="text-3xl">PHX Weather</h1>
        </div>
    </a>
    <div></div>
</header>

<script>

</script>