@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

html {
    font-family: system-ui, sans-serif;
    @apply bg-gray-100 text-gray-900;
}

body {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);

    @apply text-base;
}

