@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}

html {
    font-family: system-ui, sans-serif;
    @apply bg-gray-100 text-gray-900 placeholder:text-gray-400 dark:bg-slate-950 dark:text-gray-400;
}

body {
    margin: auto;
    padding: 1rem;

    @apply text-base;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    @apply dark:bg-slate-800
}
