---
interface Props {
	title: string;
}

const { title } = Astro.props;

import '../styles/output.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';


---

<!doctype html>
<html lang="en" class="dark h-full w-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pheonix.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-full w-full">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<script>
	const isDark = window.matchMedia('(prefers-color-scheme: dark)').matches

	console.log("dark?: ", isDark);
	document.querySelector('html')?.classList.add(isDark ? 'dark' : 'light')
	
</script>
