---
import Layout from '../layouts/Layout.astro';
import WeatherApp from '../components/react/weather-app.tsx'
const realTime = 0;
---

<Layout title="Welcome to Astro.">
	<main class="grid grid-cols-1 w-full">
		<WeatherApp client:load />
	</main>
</Layout>

<script>

</script>
