---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<form id="weather-form" class="grid grid-cols-2 gap-4" onsubmit="onFormSubmit">
			<div class="grid-span-2 flex flex-col space-y-4">
				<label for="location-search">Location:</label>
				<input id="location-search" type="search" name="location_search">
			</div>
		</form>
	</main>
</Layout>

<script>
	function onFormSubmit() {

	}
	const requests = Object.assign({})

	function updateUI(response: any) {
		if (response.cached) {
			document.getElementById('weather-cached-usage-indicator')?.classList.toggle("hidden", !response.cached);
		}

		let preEle = document.getElementById('weather-realtime-data');
		
		if (preEle) {
			preEle.innerText = JSON.stringify(response?.response?.data?.values, undefined, 2);
		}	
	}

	async function apiCall(location: string) {
		const recentQuery = requests[location]
		if (recentQuery) {
			location = requests[location]
		}

		const content = await fetch("http://127.0.0.1:8000/api/weather/realtime?location=" + location, {
			method: "GET",
			headers: {
				"Content-Type": "application/json"
			}
		}).then((response) => response.json())

		console.debug("response: ", content);

		if (!recentQuery) {

		}
		
		return content;
	}

	function realTime() {
		const input = document.getElementById("city-input") as HTMLInputElement
		const response = apiCall(input?.value || "evans")
		updateUI(response);
	}

	function getLocation() {
		var geoOptions = {
			timeout: 10 * 1000,
		};

		var geoSuccess = function (position: GeolocationPosition) {
			console.log("Position: ", position)

			const lat = position.coords.latitude
			const long = position.coords.longitude
			let location = `${lat}, ${long}`

			const repsponse = apiCall(location)

			updateUI(repsponse)
		};
		var geoError = function (error: any) {
			console.log('Error occurred. Error code: ' + error.code);
			// error.code can be:
			//   0: unknown error
			//   1: permission denied
			//   2: position unavailable (error response from location provider)
			//   3: timed out
		};

		navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);		
	}	

	const weatherApiBtn = document.getElementById('weather-api-realtime')
	weatherApiBtn?.addEventListener('click', realTime)

	const locRealtimeBtn = document.getElementById('weather-api-loc-realtime')
	locRealtimeBtn?.addEventListener('click', getLocation)	
</script>
