---
import Layout from '../layouts/Layout.astro';
import WeatherApp from '../components/react/weather-app.jsx'
const realTime = 0;
---

<Layout title="Welcome to Astro.">
	<main class="grid grid-cols-1 w-full">
		<WeatherApp client:load />
	</main>
</Layout>

<script>
	const requests = Object.assign({})

	async function onFormSubmit(event: SubmitEvent) {
		event.preventDefault();
		

		return false;
	}

	const form = document.getElementById("weather-form")
	form?.addEventListener('submit', onFormSubmit);

	function updateUI(response: any) {
		if (response.cached) {
			document.getElementById('weather-cached-usage-indicator')?.classList.toggle("hidden", !response.cached);
		}

		let preEle = document.getElementById('weather-realtime-data');
		
		if (preEle) {
			preEle.innerText = JSON.stringify(response?.response?.data?.values, undefined, 2);
		}	
	}

	async function apiCall(location: string) {
		const recentQuery = requests[location]
		if (recentQuery) {
			location = requests[location]
		}

		const content = await fetch("http://127.0.0.1:8000/api/weather/realtime?location=" + location, {
			method: "GET",
			headers: {
				"Content-Type": "application/json"
			}
		}).then((response) => response.json())

		console.debug("response: ", content);

		if (!recentQuery) {

		}
		
		return content;
	}

	function realTime() {
		const input = document.getElementById("city-input") as HTMLInputElement
		const response = apiCall(input?.value || "evans")
		updateUI(response);
	}

	function getLocation() {
		var geoOptions = {
			timeout: 10 * 1000,
		};

		var geoSuccess = function (position: GeolocationPosition) {
			console.log("Position: ", position)

			const lat = position.coords.latitude
			const long = position.coords.longitude
			let location = `${lat}, ${long}`

			const repsponse = apiCall(location)

			updateUI(repsponse)
		};
		var geoError = function (error: any) {
			console.log('Error occurred. Error code: ' + error.code);
			// error.code can be:
			//   0: unknown error
			//   1: permission denied
			//   2: position unavailable (error response from location provider)
			//   3: timed out
		};

		navigator.geolocation.getCurrentPosition(geoSuccess, geoError, geoOptions);		
	}	

	const weatherApiBtn = document.getElementById('weather-api-realtime')
	weatherApiBtn?.addEventListener('click', realTime)

	const locRealtimeBtn = document.getElementById('weather-api-loc-realtime')
	locRealtimeBtn?.addEventListener('click', getLocation)	
</script>
